init.lua linguist-generated

*.fnl gitlab-language=clojure
.fenneldoc gitlab-language=clojure linguist-language=fennel linguist-vendored

fennel-test/test.fnl linguist-vendored
.luacov linguist-vendored
